@font-face {
    font-family: 'iconfont';
    src: url('地址') format('truetype');
}

.icon {
    font-family: 'iconfont';
    font-size: 30px;
}
.jiuli {
  color: aqua;
}
body {
  background-color: blue;
}
.hello {
  color: red;
}
